body {
    /* Set the background to a top-to-bottom gradient */
    background: linear-gradient(to bottom, #96c4f1, #FFFFFF);
    backgroundRepeat: no-repeat;
    height: 800px;
}

.logoLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.header-right {
    position: absolute;
    right: 0;
}

.header-right .signUp {
    color: darkslategray;
    margin-top: 30px;
    margin-right: 30px;
}



.loginField {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    text-align: right;
}

.loginField input {
    border-radius: 5px;
    height: 25px;
    width: 300px;
    display: inline-block;
}

.loginField button {
    position: relative;
    top: 20px;
    width: 80px;
    border-radius: 5px;
    background-color: #6384a3;
    color: #e9fcfd;
    border: none;
    display: inline-block;
    float: right; /* Add this to align the button to the right */
}
